body {
    background-color:#FFFFFF;
    height: 100%;
}

.row {
    display:flex;
}

.column {
    flex: 20%;
    padding: 5px;
}


.name {
	color: #6C6C6C;
	font-family: Source Sans Pro;
	font-weight: 340;
	font-size: 3vw;
	position: relative;
	left: 0%;
	top: 10%;
	display: inline-block;

}

.topBar {
    display: flex;
}
.top {
    flex: 20%;
    padding: 10px;
}

.top img {
	float: left;
}

.navbar {
	float: right;
	padding-top: 4%;
}
.navbar li{
	padding-right: 20px;
    
}

.navbar a {
	color: #6C6C6C;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 2vw;
    text-decoration: none;
    padding: 18px;
	top: 15%;
	right: 10%;

}

.navbar a:hover {
	color: black;
	font-size:3vw;
}

.navbar a.active {
	color: white;
}

.buttons { 
	display:flex;
}

.flip {
	flex: 50%;
	padding:10px;
	
}

.pinbutton img {
	margin-top: 5%;
	
	margin-bottom: 10%;
	overflow: hidden;
	position: fixed;
	left: 20%;
	width: 13%;
  	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	transition: transform .2s;

}


.pinbutton img:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
}
.forfun {
	margin-left: 40%;
	margin-top: 10%;
	margin-bottom: 10%;
	overflow: hidden;
	position: fixed;
	left: 9%;
  	/* -webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222); */
	transition: transform .2s;
}
.forfun:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); */
} 

first {
	color: black;
	font-size:90px;
}

p {
	color: #6C6C6C;
	font-family: Open Sans;
	font-weight: 100;
	text-decoration: none;
	padding-left: 4%;
	padding-right: 4%;
	line-height: 160%;
	

}

h2 {
	
	color: #6C6C6C;
	font-family: Open Sans;
	font-style: Semi-Bold;
	font-weight: 200;
    text-decoration: none;
	padding-left: 4%;
    top: 15%;

}

.tree {
	float:right;
	width: 30%;
	padding-right: 2%;
	padding-left:7%
}

.r {
	margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .r,
  .r > .c {
	padding: 0px;
  }
  .r {
	  margin-left: 3%;
  }
  /* Create four equal columns that floats next to each other */
  .c {
	float: left;
	width: 25%;
  }
  
  /* Clear floats after rows */
  .r:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Content */
  .content {
	background-color: white;
	padding: 10px;
  }
  .c img:hover {
	-ms-transform: scale(2); /* IE 9 */
	-webkit-transform: scale(2); /* Safari 3-8 */
	transform: scale(2); 
}
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
	.c {
	  width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.c {
	  width: 100%;
	}
  }
