body {
    background-color:#FFFFFF;
    height: 100%;
}



.row {
    display:flex;

}


.column {
    flex: 20%
    padding: 5px;
}


.name {
	color: #6C6C6C;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 200;
	font-size: 3vw;
	src:local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight');
	url:(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v4/toadOcfmlt9b38dHJxOBGEzfSP8PFPIaW8d4wHl9LSw.woff) format(‘woff’);
	position: absolute;
	left: 10%;
	top: 5%;
	display: inline-block;

}

.topBar {
    display: flex;
}
.top {
    flex: 20%;
    padding: 10px;
    
}
.navbar li{
    display: inline;
    padding-right: 20px;
    
}

.navbar a {
	color: #6C6C6C;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 200;
	font-size: 2.5vw;
    text-decoration: none;
    padding: 18px;
    top: 15%;

}

.navbar a:hover {
	color: black;
	font-size:3vw;
}

.navbar a.active {
	color: white;
}



