body {
    background-color:#FFFFFF;
    height: 100%;
}



.row {
    display:flex;

}


.column {
    flex: 20%
    padding: 5px;
}


.name {
	color: #6C6C6C;
	font-family: Source Sans Pro;
	font-weight: 340;
	font-size: 3vw;
	position: absolute;
	left: 13%;
	top: 10%;
	display: inline-block;

}

.topBar {
    display: flex;
}
.top {
    flex: 20%;
    padding: 10px;
    
}
.navbar {
	float: right;
	padding-top: 4%;
}
.navbar li{
	padding-right: 20px;
    
}

.navbar a {
	color: #6C6C6C;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 2vw;
    text-decoration: none;
    padding: 18px;
	top: 15%;
	right: 10%;

}

.navbar a:hover {
	color: black;
	font-size:3vw;
}

.navbar a.active {
	color: white;
}

.pinbutton {
	padding-left: 33%;
	padding-bottom: 10%;
	overflow: hidden;
	position: fixed;
	left: 10%;
	width: 65%;
  	-webkit-filter: drop-shadow(5px 5px 5px #222);
  	filter: drop-shadow(5px 5px 5px #222);
}
first {
	color: black;
	font-size:90px;
}

p {
	color: #6C6C6C;
	font-family: Open Sans;
	font-weight: 100;
    text-decoration: none;
    padding: 4%;
	top: 15%;
	line-height: 160%;
	

}

h2 {
	
	color: #6C6C6C;
	font-family: Open Sans;
	font-style: Semi-Bold;
	font-weight: 200;
    text-decoration: none;
	padding-left: 4%;
    top: 15%;

}

.tree {
	float:right;
	width: 30%;
	padding-right: 2%;
	padding-left:2%
}