body {
    font-family: Open Sans;
    background-color:#FFFFFF;
    height: 100%;
}
h1 {
    font-size: 2vw;
    color:#868686;
}
h2{
    font-size:1.6vw;
    font-weight: 250;
    color:#5c5b5b;
}

h3{
    font-size:1.4vw;
    font-weight: 200;
    color:#797979;

}
h1, h2, h3, h4, h5, h6 {
    font-family: Open Sans;
    line-height:180%;
    margin-left:4%;
    margin-right:4%;
    margin-top: 2%;
    position: relative;
}
p {
    font-family: 'Open Sans';
    color:#000000;
    line-height:180%;
    font-size:1.3vw;
    font-weight:200;
    margin:4%;
    margin-top: 2%;
    position: relative;
}

.name {
	color: #6C6C6C;
	font-family: Source Sans Pro;
	font-weight: 340;
	font-size: 3vw;
	position: relative;
	left: 0%;
	top: 10%;
	display: inline-block;

}

.topBar {
    display: flex;
}
.top {
    flex: 20%;
    padding: 10px;
    
}

.top img{
    float: left;
}
.navbar {
	float: right;
	padding-top: 4%;
}
.navbar li{
	padding-right: 20px;
    
}

.navbar a {
	color: #6C6C6C;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 2vw;
    text-decoration: none;
    padding: 18px;
	top: 15%;
	right: 10%;

}

.navbar a:hover {
	color: black;
	font-size:3vw;
}

.navbar a.active {
	color: white;
}


.intro  {
    margin-top: 0%;
}
.intro h1 {
    font-size: 2vw;
    font-weight: 300;
    margin:2%;
    position: relative;
    top: 0%;
    right:3%;
    margin-left: 50%;

}


.Features p{
    margin-top:1%;
    margin-bottom: 0%;
    margin-left: 8%;
}

.row{
    display: flex;
}

.description {
    flex: 20%;
    margin-left: 2%;
}

.picture {
    flex:20%;
}

.Demographics p {
    margin-top:1%;
    margin-bottom: 0%;
}

.sitemap img{
    margin: 4%;
}

.logoIterations {
    display:flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left:4%;
}
.iteration{
    flex: 20%;
    max-width: 25%;
    padding: 0;
    margin-bottom:2%;
}

.finalLogo img {
    margin-left: 4%;
    margin-top:2%;
    margin-bottom:2%;
}

.darkTheme{
    display:flex;
    flex-wrap: wrap;
    margin-left:4%;
}

.dark{
    flex:33%;
}

.splash{
    margin-left:30%;
   
}

.pinnedPlanned {
    display:flex;
    margin-left:15%;
}

,tripsPage{
    flex:50%;
}

.explore {
    margin-left:30%;
    margin-bottom:4%;
}

.search {
    margin-left: 40%;
}